{
    "log_level": 30,
    "ssl_ports": [
        443
    ],
    "min_time_to_expiration": 2592000,
    "zone_data_sources": {
        "main_dns_server": {
            "type": "BIND",
            "config": {
                "server_ip": "10.0.0.2",
                "server_port": 53
            },
            "zones": [
                "company.com",
                "internal_domain.lan"
            ],
            "discover_zones": false
        },
        "secodary_dns_server": {
            "type": "BIND",
            "config": {
                "server_ip": "10.0.0.3",
                "server_port": 53
            },
            "zones": [
                "company-community.org"
            ],
            "discover_zones": false
        },
        "route53_instance":{
            "type": "Route53",
            "config": {
                "aws_access_key_id": "",
                "aws_secret_access_key": "",
                "aws_session_token": "",
                "discover_private_zones": true
            },
            "zones": [
                "route53-hosted.com"
            ],
            "discover_zones": true
        }
    },
    "lookup_nameservers": [
        "10.0.0.2",
        "1.1.1.1",
        "8.8.8.8"
    ],
    "name_filters": [
        "user.*.com"
    ]
}
