{
    "log_level": 30,
    "ssl_ports": [
        443
    ],
    "min_time_to_expiration": 2592000,
    "nameserver_zones": {
        "10.0.0.2": [
            "company.com",
            "internal_domain.lan"
        ],
        "10.0.0.3": [
            "company-community.org"
        ]
    },
    "lookup_nameservers": [
        "10.0.0.2",
        "1.1.1.1",
        "8.8.8.8"
    ]
}
